* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

.cuerpo {
    background-image: url(Polygon\ Luminary.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: rgb(11, 189, 189);
    background-color: rgb(75, 9, 138);
    width: 85%;
    height: 95%;
    padding: 30px;
}

.navegacion {
    padding-top: 100px;
    color: rgb(161, 79, 237);
    background-color: rgb(108, 10, 199);
    width: 15%;
    height: 95%;
    text-align: center;
}

.piepagina {
    color: rgb(11, 189, 189);
    background-color: rgb(149, 10, 218);
    height: 5%;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 5vw;
    padding-bottom: 50px;
    text-shadow: 5px 0px 5px red;
}

h3 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}

p {
    font-size: 2vw;
}

.piepagina p {
    font-size: 1vw;
    padding-top: 12px;
}

a:hover {
    color: rgb(236, 19, 175) !important
}

.navegacion a {
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(161, 79, 237);
    text-decoration: none;
}

.cuerpo a {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(176, 48, 202);
    text-decoration: underline;
    text-shadow: 1px 1px 1px white;

}