body{
    background-image: url(img/Polygon\ Luminary.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

.titulo{
    background-color: black;
    border: 5px;
    border-radius: 5px;
}

section{
    padding-top: 50px;
}
p{
    padding-top: 30px;
}