/* WORKS */
footer {
    background: linear-gradient(120deg, red, rgb(161, 79, 237), rgb(11, 189, 189));
    font-family: 'Teko', sans-serif;
    color: rgb(11, 189, 189);
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    text-align: center;
}


body {
    background-image: url(img/Polygon\ Luminary.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    height: 100%;
}

nav {
    background: linear-gradient(120deg, rgb(11, 189, 189), rgb(161, 79, 237), red);
    font-size: 30px;
}

.titulo {
    padding: 20px;
}

.titulo h1 {
    color: rgb(11, 189, 189);
    text-decoration: underline;
    border: solid white 2px;
    border-radius: 5px;
    border-style: groove;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    text-shadow: 5px 0px 5px red;
}

/* estilo de los links */

a {
    font-family: 'Teko', sans-serif;
}

a:hover {
    color: rgb(236, 19, 175) !important
}

#logo:hover {
    color: white !important
}

#logo {
    text-shadow: 2px 2px 2px red;
    font-size: 30px;
}

/* posicion de las tarjetas */

.container {
    padding-top: 20px;
    text-align: center;
}

.column {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.fila {
    display: flex;
    justify-content: center;
}



/* estilo de las tarjetas */
.card {
    height: 400px;
    background: linear-gradient(100deg, rgb(11, 189, 189), blue) !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-body a:hover {
    color: rgb(11, 189, 189) !important;
}

.card-title {
    text-shadow: 2px 2px 2px black;
}

.card-text {
    font-family: 'Teko', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-size: larger;
}